<header class="header">
  <div class="logo">
    <h1>Shoppie</h1>
  </div>
  <div class="nav-links">
    <a routerLink="/" class="nav">Home</a>
    <a routerLink="/about" class="nav">About</a>
    <a routerLink="/products" class="nav">Products</a>

    <a routerLink="/cart" class="nav">Cart</a>
    <a routerLink="/contact" class="nav">Contact</a>

    <ng-container *ngIf="!authService.isLoggedIn(); else loggedIn">
      <button class="signup" routerLink="/login">Login</button>
      <button class="signup" routerLink="/login">Sign up</button>
    </ng-container>

    <ng-template #loggedIn>
      <button class="signup" (click)="logout()">Logout</button>
    </ng-template>
  </div>
</header>
