<header class="header">
  <div class="logo">
    <h1>Shoppie</h1>
  </div>
  <div class="nav-links">
    <a routerLink="/" class="nav">Home</a>
    <a routerLink="/about" class="nav">About</a>
    <a routerLink="/products" class="nav">Products</a>
    <a routerLink="/cart" class="nav">Cart</a>
    <a routerLink="/contact" class="nav">Contact</a>
    <button class="signup" [routerLink]="['/app-login']">Sign up</button>
  </div>
</header>

<main class="home-main">
  <h2 class="welcome-heading">
    Welcome to Shoppie — your one-stop shop<br>
    for quality and affordability.<br>
    Discover products you’ll love, delivered with care and convenience.
  </h2>

  <div class="cards">
    <div class="card">
      <div class="card-info">🎯 Affordable prices. Unmatched value.<br>
        Get the best deals without compromising on quality.
      </div>
      <div class="card-info">🛒 Shop smart. Shop fast. Shop Shoppie.<br>
        Everything you need, right at your fingertips.
      </div>
      <div class="card-info">💼 Professional & Trust-Building<br>
        At Shoppie, we believe in quality, trust, and customer satisfaction.
      </div>
    </div>
  </div>

  <div class="button">
    <button>Shop now</button>
  </div>
</main>
cd
